@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  /* height: 100vh; */
  /* width: 100vw; */
  font-family: "Jost", sans-serif;
}

.header {
  max-width: 1240px;
  /* background-color: aqua; */
  margin: auto;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  & ul {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    & li {
      display: inline-block;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #1b1b1d;
    }
  }
}

.btn {
  color: #ffffff;
  padding: 15px 30px;
  background: #1b1b1d;
  box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  line-height: 26px;
  text-transform: uppercase;
}

article.content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  & .content_left-up {
    width: 597px;
    height: 520px;
    padding-top: 31px;

    & h1 {
      font-weight: 800;
      font-size: 124px;
      line-height: 140px;
      color: #1b1b1d;
    }
    & p {
      padding-top: 30px;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #64646a;
    }
  }
  & .content_left-bottom {
    padding-top: 60px;
    & a {
      padding-left: 30px;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #1b1b1d;
    }
  }
}

article .content_right {
  background-image: url(./img/alowishus-coffee\ 5.png);
  width: 700px;
  height: 679px;
  position: relative;
  & .content_right-img {
    position: absolute;
  }
  & .img-top {
    top: 31px;
    right: 34px;
  }
  & .img-middle {
    top: 92px;
    right: 43px;
  }
  & .img-bottom {
    bottom: 181px;
    left: 44px;
    padding: 1rem;
    width: 280px;
    height: 140px;
    background: #ffffff;
    border-radius: 24px;
    & div {
      padding-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 1306px) {
  article.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


