:root {
  --primary-clr: darkmagenta;
  --secondary-clr: rgb(242, 87, 3);
  --primary-bg-clr: linear-gradient(283deg, #000000 0%, #34534e 100%);
}
/* GENERAL CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a,
li,
h1 {
  text-decoration: none;
  list-style: none;
}
/* HOME CSS */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 1.5rem;
  background-image: var(--primary-bg-clr);
  border-bottom: 3px solid var(--primary-clr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header__left,
.header__right {
  text-align: center;
  color: #fff;
  height: 2rem;
}
.header__left span {
  color: var(--primary-clr);
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right ul {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  align-items: center;
}
.header__right ul li a {
  color: #fff;
  padding: px;
  text-transform: uppercase;
}
.header__right .active {
  color: var(--primary-clr);
}

.home {
  height: 220px;
}
.home__header {
  background: url(./img/showcase.jpg);
  margin-top: 82px;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__header::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 300px;
  width: 100%;
  position: absolute;
}
.home__header-text {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
.home__header-text h1 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

main {
  position: relative;
}
.home__nav {
  background-image: var(--primary-bg-clr);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.2rem;
  position: sticky;
  width: 100%;
  top: 82px;
  z-index: 1;
}

.home__nav-right input {
  font-size: 0.8rem;
  height: 35px;
  padding: 0.5rem;
  border: none;
  width: 230px;
  outline: none;
}
.home__nav-right button {
  background-color: var(--secondary-clr);
  color: #fff;
  border: none;
  padding: 0.6rem 0.9rem;
}
.home__article {
  padding: 1.5rem 2rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.home__article-box {
  gap: 0.8rem;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ABOUT CSS */
.about {
  width: 100%;
  /* height: calc(100vh - 285px); */
  /* margin-bottom: 20px;
  margin-top: 125px; */
height: 525px;
  display: flex;
  font-size: 1rem;
  letter-spacing: 2px;
  justify-content: space-between;
  padding: 0 1rem;
  /* border: 1px solid blue; */
  padding: 2rem;
  gap: 0 5rem;
}

.about__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2 40%;
}
.about__right {
  flex: 2 20%;
}

.bgdark-content {
  padding: 1rem;
  background-color: #1c2e2b;
  color: #d9d4d4;
}

.about__right-header {
  padding: 1rem 0;
}

/* SERVICES CSS */
.services {
  /* height: calc(100vh - 285px); */
  /* height: calc(100vh ); */
  height: 600px;
  
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  font-size: 1rem;
  letter-spacing: 1px;
  justify-content: space-between;
  padding: 0 1rem;
  /* border: 1px solid rgb(255, 85, 7); */
  padding: 2rem;
  gap: 0 5rem;

}

.services__left{
  /* border: 1px solid green; */
  flex: 2 40%;
}
.services__left h1{
  padding: 0.7rem 0;
  font-weight: bolder;
}
.services__left-box{
  padding: 1rem;
  background-color: #aeb6b5;
  margin-top: 10px;
  line-height: 2;
}

.services__right{
  border: 1px solid green;
  background-image:  var(--primary-bg-clr);
  flex: 1 20%;
  padding: 1rem;
  height: 300px;
  color: #fff;

}
.services__right h2{
  padding: 0.7rem 0;
}
.services__right form input{
  width: 100%;
  height: 30px;
  padding: 2px; 
}
.services__right form button{
  padding: 0.5rem 1rem;
  background-color: var(--secondary-clr);
  border: none;
}
textarea{
  width: 100%;
  height: 50px;
  resize: none;
  padding: 10px 0;
}


/* FOOTER CSS */
.footer {
  background-image: var(--primary-bg-clr);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.7rem;
  color: #fff;
  gap: 0.3rem;
  position: fixed;
  bottom: 0;
}
