*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
main{
    height: 100vh;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0 1rem;

}
.header-flex{
    display: flex;
    align-content: center;
}
.header-flex div{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

.header-flex .header-link a{
    font-size: 1rem;
    color: rgba(0, 0, 0,0.7);
}
.header-flex .header-btn a{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 500;
    background-color:#007CFF;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

/* Section CSS */

section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 79%;
gap: 35px;
}

section .search-box{
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 20px;
    min-width: 30%;
    height: 45px;
    padding-left: 1rem;
    padding-right: 1rem;
}
section .search-box .input-box input{
    border: none;
    outline: none;
    width: 350px;
    height: 40px;
    font-size: 1.2rem;
}

section .search-box .glass-icon-box img{
    width: 30px;
}
section .search-box .mic-box img{
    width: 17px;
}
section .search-box .glass-icon-box img:hover,
section .search-box .mic-box img:hover{
    cursor: pointer;
}
section .section-btn-box{
    display: flex;
    justify-content: space-between;
    min-width:260px;
}
section .section-btn-box .section-btn{
    padding: 0.5rem;
    background-color: #F3F3F3;
}
section .section-btn-box .section-btn:hover{
    cursor: pointer;
}
.section-text-box span{
    color: blue;
    text-decoration: underline;
}

footer{
    width: 100%;
    background-color: #F3F3F3;
    padding: 0 1rem;
}
footer p{
    padding: 1rem 0;
}
footer .footer-top{
    border-bottom: 1px solid rgb(155, 155, 155);    
}

footer .footer-bottom{
    display: flex;
    justify-content: space-between;
}
footer .footer-bottom .footer-left{
    display: flex;
    min-width: 300px;
    justify-content: space-between;
}
footer .footer-bottom .footer-right{
    display: flex;
    justify-content: space-between;
    min-width: 200px;


}