:root{
    --bg-light:#a5a5a5;
    --bg-dark:#333;
    --bg-orange:#F1A33C;

    --ff-helvetica:Helvetica, sans-serif;
    --fs-lg:45px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    height: 800px;
    min-width: 500px;
    background-color: #000;
    padding: 20px;
    gap: 40px;
    border-radius: 50px;
}
.screen{
    /* background-color: aqua; */
    width: 100%;
    height: 250px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    gap: .7rem;
}
.button{
    background-color: rgb(245, 138, 8);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-family: var(--ff-helvetica);
    font-size: var(--fs-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero{
    grid-column:1 / 3;
    width:215px !important;
    border-radius: 50px !important;
    text-align: left;
    padding-right: 120px;
}

.light{
    background-color: var(--bg-light);
    color: #000!important;
}
.yellow{
    background-color:var(--bg-orange);
}
.dark{
    background-color:var(--bg-dark);
}
.button:hover{
    opacity: 0.5;
}





